.login-form-container {
  background-color: rgb(122, 197, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-account-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
