.navbar {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.navbar-left {
    font-size: 24px;
}

.navbar-link {
    color: crimson;
    text-decoration: none;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add smooth transitions for background and text color */
    padding: 8px 16px;
    border-radius: 4px;
}

.navbar-link:hover {
    background-color: mediumvioletred;
    color: white;
}

/* Style the logout button */
.navbar-link.button {
    background-color: white;
    color: crimson;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-link.button:hover {
    background-color: #D50000;
    color: white;
}

.logo-image {
    width: 350px;
    height: auto;
}