.navbar {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
    color: white;
    border-radius: 10px;
    flex-wrap: wrap;
}

.navbar-link {
    color: crimson;
    text-decoration: none;
    margin: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    padding: 12px 20px;
    font-size: 26px;
    border-radius: 4px;
}

.navbar-link:hover {
    background-color: mediumvioletred;
    color: white;
}

.navbar-link.button {
    background-color: white;
    color: crimson;
    border: 1px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 22px;
}

.navbar-link.button:hover {
    background-color: #D50000;
    color: white;
}

.logo-image {
    width: 100%;
    max-width: 350px;
    height: auto;
}


@media (max-width: 768px) {
.navbar {
justify-content: center;
padding: 10px;
}

.navbar-left {
    font-size: 20px;
    margin-bottom: 10px;
}

.navbar-link {
    font-size: 16px;
    margin: 5px 10px;
    padding: 10px 15px;
}

.navbar-link.button {
    padding: 10px 15px;
}
}

@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(1.05); }
    to { transform: scale(1); }
}

.navbar-link:hover {
    animation: pulse 0.7s infinite alternate;
}