@tailwind base;
@tailwind components;
@tailwind utilities;




.heart-button {
    cursor: pointer;
    position: relative;
    padding: 1rem 2rem;
    background-color: red;
    color: white;
    border-radius: 1rem;
    border: none;
    transition: background-color 0.25s ease-in-out;
    overflow: visible;
    font-size: 1rem;
    z-index: 1;
  }
  
  .heart-button::before,
  .heart-button::after,
  .heart-button span {
    content: "";
    position: absolute;
    background-color: purple;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
  
  .heart-button::before,
  .heart-button::after {
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
  .heart-button::before {
    left: 50%;
    transform: translateX(-90%) scale(1) rotate(45deg);
  }
  
  .heart-button::after {
    left: 50%;
    transform: translateX(-5%) scale(1) rotate(45deg);
  }
  
  .heart-button span {
    top: 63%;
    left: 51%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: purple;
    border-radius: 60px 10px 0 10px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
  
  .heart-button:hover {
    background-color: transparent;
  }
  
  .heart-button:hover::before,
  .heart-button:hover::after,
  .heart-button:hover span {
    opacity: 1;
  }
  



  .custom-width {
    width: 120%;
    max-width: 600px;
    margin-left: 8%;
    margin-top: -130px;
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 16px; 
  }
  .title-text {
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-bottom: 4px;
  }
  
  .highlight-text {
    font-weight: bold;
    color: white;
    font-size: 24px;
  }
  
  .regular-text {
    margin-top: 4px;
    color: white;
    margin-bottom: 0px;
    font-size: 20px;
  }
  
  .final-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
  }
  
  .join-now-button,
.login-button {
  padding: 12px 12px;
  background-color: transparent; 
  color: white;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
  border: 4px solid white; 
  margin-right: 20px;
}
  
  .join-now-button:hover,
  .login-button:hover
  {
    background-color: #dc2626;
  }
  
  .custom-width {
    width: 120%;
    max-width: 600px;
    margin-left: 8%;
    margin-top: -130px;
  }
  